---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: about
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
  <section id="top">
		<div class="text_box">
			<p class="mind">MIND</p>
			<p class="mind_main">Growing my Shell</p>
			<hr width="1000" align="center" size="2px" class="hr">
			<p class="explain">" 殻を大きくしていく "</p>

			<p class="text">
				殻を破ってなりたい自分になることが<br class="sp">難しければ
				自分が被っている<br class="sp">殻を大きくしていき成長していく。<br class="pc"><br class="sp">
				「成長したい、変わりたい」と思い続け、<br class="sp">過去から少しづつ変化を遂げても<br class="sp">
				心のどこかには<br class="pc">今までの考え方や気持ちが<br class="sp">あったりします。<br class="pc">
				成長は殻を破るような<br class="sp">大きな変化ではなく、
				少しづつするもの。<br class="pc4">
				殻は破らなくても自分自身のままで<br class="sp">少しづつ成長していきます。<br>
			</p>
		</div>
	</section>
<!--------------------------->
	<div class="scrolldown1"><span>Scroll</span></div>
<!---------------------------->
	<section>
		<div id="container">
			<h1>PROFILE</h1>
			<div class="plofile_text">
				<p class="plofile">武田 優奈  |  Yuna Takeda<br class="sp2"><br class="pc2">
				   2001年 10月 4日生まれ。兵庫県 西宮市で生まれ育ち、幼い頃から物作りが好きな<br class="pc2">女の子でした。そんな私は英語に興味を持ち始め、高校卒業後は語学系の短大に進学。
				   <br class="pc2">そこでは英語を読み取る力や英語でのコミュニケーションを学びました。その後、<br class="pc2">デザインするということの楽しさを感じ始め専門学校に入学。現在はグラフィック
				   <br class="pc2">デザインに加え、webデザイン・コーディングを勉強しています。<br class="pc2"><br class="pc2">
					<br class="sp2">
					<br class="sp2">
					<br class="sp2">
				   趣味：建築物巡り、お皿、写真<br class="pc2"><br class="sp2">
				   スキル：Illustrator,Photoshop,XD,HTML,CSS,JavaScript
				</p>
			</div>
			
			<p class="school">2020.04　関西外国語大学 短期大学部<br>
			   2022.04　大阪デザイナー専門学校
			    グラフィックデザイン学科
			</p>
		</div>
	</section>
</main>