---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: biled
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
  <section>
    <div id="top">
      <img src="/assets/images/index/biled_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>ヘアケア専門店「Bi led」</h1>
      <p class="text">
        2022.12 , SCHOOL WORK & PERSONAL WORK<br>
        ロゴデザイン,メニュー表,商品デザイン,ショッピングバッグ
      </p>

      <p class="explain">
				“ハサミを持たない美容院”をテーマに架空ショップを制作しました。<br class="br_pc">
				より日本人の髪に特化したヘアケア専門美容院で和モダンなイメージを膨らませ、<br class="br_pc">
				オリジナルシャンプーなどの商品デザインや、ペーパーアイテムなどを<br class="br_pc">
				デザインしました。
      </p>
    </div>
  </section>

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/biled_1.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_2.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_3.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_4.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_5.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_6.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_7.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_8.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/biled_9.jpg" alt="ページデザイン"></div>
  </section>
<!------------------------>
  <a href="workhome.html" class="back">BACK TO WORKS</a>
</main>