---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: billiken
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: yuna takeda | BILLIKEN CREATORS OSAKA2
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
  <section>
    <div id="top">
      <img src="/assets/images/index/billiken_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>BILLIKEN CREATORS OSAKA2</h1>
      <p class="text">2022.11, PERSONAL WORK<br>作品1点</p>

      <p class="explain">
				BILLIKEN SREATORS OSAKA2に参加し、<br class="br_pc">
				テーマ「ビリケンさんとSDGsを考える」に対して作品を1点出展しました。<br class="br_pc">
				出展作品の中から選出していただきOMO7大阪by星野リゾートでも展示していただきました。
				<br>
				<br>
				<b>CONCEPT</b><br>
				「女性の活躍にメッセージを込める」<br>
				SDGs 目標5であるジェンダーの平等に性別のないビリケンさんを掛け合わし、<br class="br_pc">
				1万円札に女性モチーフにしたビリケンさんを描きました。<br class="br_pc">日本の紙幣の肖像に描かれた女性は男性と比べるととても少なく、
				<br class="br_pc">1万円札に女性が起用されたことは1度もありません。多くの素晴らしい功績を<br class="br_pc">
				残した女性達は多くの男性と同じように 評価されているのでしょうか。<br class="br_pc">装飾には大阪の花である梅や私が思う大阪らしさをイメージし、
				<br class="br_pc">作品を見てもらう方に大阪の魅力とジェンダーについて改めて考えて貰うことを<br class="br_pc">目指して作成しました。
      </p>
    </div>
  </section>  

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/billiken_2.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/billiken_3.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/billiken_4.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/billiken_5.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/billiken_6.jpg" alt="ページデザイン"></div>
  </section>
<!------------------------>
  <a href="workhome.html" class="back">BACK TO WORKS</a>
</main>