---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: hotel
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
    <div id="top">
        <img src="/assets/images/index/hotel_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>「ホテルメトロポリタン」フライヤーデザイン</h1>
      <p class="text">
          2023.07, SCHOOL WORK<br>
				 フライヤーデザイン
      </p>

      <p class="explain">
        ホテルの謎解きイベントのフライヤーを制作しました。(学校の課題で制作)謎解きイベントですがホテルで実施されるイベントなので
        エレガントで綺麗なデザインや色味になるように心がけました。ホテルの写真を多く利用し、開催地が認識できるようにし情報以外の要素をできるだけトーンを落とし伝えたいことがしっかりと伝わるように工夫しました。
        <br>
        <br>
        ホテルメトロポリタンミステリーホテル都会迷宮へチェックイン2023
      </p>
        </div>
  </section>

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/hotel_1.jpg" alt="フライヤーデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/hotel_2.jpg" alt="フライヤーデザイン"></div>
  </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>