---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: index
ADD_STYLES:
ADD_SCRIPTS_HEADER:
 - https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: website
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: yuna takeda
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
  <section id="top">
    <div class="scrolldown"><span>Scroll</span></div>

    <ul class="fade">
      <li><img src="/assets/images/index/mainvisual_1.jpg" alt=""></li>
      <li><img src="/assets/images/index/mainvisual_2.jpg" alt=""></li>
      <li><img src="/assets/images/index/biled_7.jpg" alt=""></li>
    </ul>
  </section>
  <!---------------------------->
  <section class="work">
    <h2 class="works">WORKS</h2>

    <div class="work_box">
      <div class="slider">
        <div>
          <a href="maindish.html" class="work_item">
            <img src="/assets/images/index/dish_work_top.jpg" alt="トップページ">
          </a>
          <p class="sakuhin_title">Web</p>
        </div>

        <div>
          <a href="charvan.html" class="work_item">
            <img src="/assets/images/index/charvan_00.jpg" alt="charvan">
          </a>
          <p class="sakuhin_title">Branding Design</p>
        </div>

        <div>
          <a href="juice.html" class="work_item">
            <img src="/assets/images/index/juice_work_top.jpg" alt="トップページ">
          </a>
          <p class="sakuhin_title">Web</p>
        </div>

        <div>
          <a href="biled.html" class="work_item">
            <img src="/assets/images/index/biled_top.jpg" alt="biled">
          </a>
          <p class="sakuhin_title">Branding Design</p>
        </div>

        <div>
          <a href="picnic.html" class="work_item">
            <img src="/assets/images/index/picnic_work_top.jpg" alt="トップページ">
          </a>
          <p class="sakuhin_title">Graphic Design</p>
        </div>

        <div>
          <a href="wedding.html" class="work_item">
            <img src="/assets/images/index/wedding_1.jpg" alt="トップページ">
          </a>
          <p class="sakuhin_title">Graphic Design</p>
        </div>
      </div>
    </div>
  </section>

  <p class="more">
    <a class="more_text" href="workhome.html">VIEW  ALL</a>
  </p>
        
  <!------------------------------>		
  <section class="mind">	
    <div id="mind_box" class="genre">
      <p class="mind_top">MIND</p>
      <h3>GROWING MY SHELL</h3>
    
      <p class="explain">殻を大きくしていく</p>
      <p class="mind_text">
        殻を破ってなりたい自分になることが難しければ<br>
        自分が被っている殻を大きくしていき成長していく。
      </p>
    </div>
  </section>
  <!------------------------->
  <section class="about">
    <div id="about_text" class="genre">
      <div class="about_tx_top">
        <p class="ydesign">y.</p>
        <h4>ABOUT</h4>
      </div>

      <div class="about_tx_bottom">
        <p class="about_title">サイトに込める想い</p>
        <p class="text">幼い頃から絵を描くことは苦手でしたがものづくりは
          好きでした。そんな好きなことを職業にできるといいなという想いから、2022年より大阪にある専門学校にてwebデザイン・
          グラフィックデザインを学んでいます。このサイトを通じて作品だけでなく自分のことをたくさんの方に知ってもらうきっかけになれば嬉しいです。
        </p>
        <p class="english">
          Since childhood, I was not good at drawing, but I loved to make things.
          I have been studying web design and graphic design at a vocational school in Osaka since 2022 because I thought
          it would be nice if I could make a career out of what I love.
          I would be happy if this site could bean opportunity for many people to know about me as well as my works.
        </p>
      </div>
      <a class="about_more" href="about.html">VIEW MORE</a>
    </div>
    <div id="about_img" class="genre">
      <img src="/assets/images/index/plofile.jpg" rel="アバウト画像">
    </div>
  </section>
  <!------------------------->
  <section class="category">
    <div class="back_box"></div>

    <div class="category_box">
      <div id="genre" class="fadein">
        <a href="web.html"><img src="/assets/images/index/ca_web.jpg" alt="カテゴリー"></a>
        <div class="category_text">
          <a href="web.html" class="entext">WEB
            <br><span>ウェブデザイン・コーディング</span>
          </a>
        </div>
      </div>

      <div id="genre_2" class="fadein">
        <a href="branding.html"><img src="/assets/images/index//ca_branding.jpg" alt="カテゴリー"></a>
        <div class="category_text">
          <a href="branding.html">BRANDING
            <br><span>ブランディングデザイン</span>
          </a>
        </div>
      </div>

      <div id="genre" class="fadein">
        <a href="graphic.html"><img src="/assets/images/index//ca_graphic.jpg" alt="カテゴリー"></a>
        <div class="category_text">
          <a href="graphic.html">
            GRAPHIC<br><span>グラフィックデザイン</span>
          </a>
        </div>
      </div>

      <div id="genre_2" class="fadein">
        <a href="other.html"><img src="/assets/images/index/ca_other.jpg" alt="カテゴリー"></a>
        <div class="category_text">
          <a href="other.html">OTHER
            <br><span>その他</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!------------------------->
  <section  class="insta">
    <h6>INSTAGRAM</h6>
    <div id="insta_img" class="genre">
      <a href="https://www.instagram.com/p/CuoVbPLJthm/?img_index=1" class="margin">
        <img src="/assets/images/index/instagram_1.jpg" alt="ジュースweb">
      </a>
      <a href="https://www.instagram.com/p/CuoVRNwpQqB/?img_index=1" class="margin">
        <img src="/assets/images/index/instagram_2.jpg" alt="お皿web">
      </a>
      <a href="https://www.instagram.com/p/CuoUsLFJ20u/?img_index=1" class="insta_r">
        <img src="/assets/images/index/instagram_3.jpg" alt="建設web">
      </a>
    </div>
  </section>
  <!------------------------->
  <section class="contact">
    <img class="arch" src="/assets/images/index/arch.png" alt="アーチ画像">
    <div class="contact_box">
      <div class="contact_title">
        <h4>CONTACT<br><span>お問い合わせはこちら</span></h4>
      </div>
          
      <div class="contact_right">
        <p>ご意見・ご依頼がございましたら、こちらからお願いいたします。<br class="br_pc"><br class="br_sp">
          お返事をさせていただくまでにお時間を要する場合がございます。<br class="br_pc"><br class="br_sp">
          あらかじめご了承ください。<br class="br_pc"><br class="br_sp">
          お急ぎの場合はインスタグラムのDMからお問い合わせをお願いします。
        </p>
          
        <div class="contact_fm">
          <a href="mailto:y.takeda.084@gmail.com?subject=お問い合わせ">お問い合わせはこちら</a>
          <a href="https://www.instagram.com/_y.design_/" target="_blank">Instagramはこちら</a>
        </div>
      </div>
    </div>
  </section>
  <!------------------------->
  <div id="page_top"><a href="#"></a></div>	
</main>