---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: juice
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
    <div id="top">
      <img src="/assets/images/index/juice_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>ジュースショップ「First Juice」</h1>
      <p class="text">
          2023.07, SCHOOL WORK<br>
          webデザイン, ※現在、コーディング制作中
      </p>

      <p class="explain">
                ジュースショップのトップページ、コンセプトメージ、メニューページをデザインしました。全体的なイメージとしては
                ナチュラルでオーガニックが感じられるように色合いを明るいトーンで合わせ、素材をできるだけ使うように心がけました。
                課題ではデザインのみ提出ですが現在、コーディング製作中です。
                <br>
                ※ロゴ・ジュースは課題で提供された素材を使い、その他の素材は自身で用意
      </p>
        </div>
  </section>

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/juice_1.jpg" alt="ページデザイン"></div>
    <div class="yoko">
     <div id="img_2" class="fadein"><img src="/assets/images/index/juice_2.jpg" alt="ページデザイン"></div>
     <div id="img_2" class="fadein"><img src="/assets/images/index/juice_3.jpg" alt="ページデザイン"></div>
    </div>
    <div id="img_1" class="fadein"><img src="/assets/images/index/juice_4.jpg" alt="ページデザイン"></div>
    <div class="yoko">
      <div id="img_2" class="fadein"><img src="/assets/images/index/juice_5.jpg" alt="ページデザイン"></div>
      <div id="img_2" class="fadein"><img src="/assets/images/index/juice_6.jpg" alt="ページデザイン"></div>
    </div>
  </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>