---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: magazine
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
   <div id="top">
      <img src="/assets/images/index/magazine_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>雑誌表紙デザイン</h1>
      <p class="text">
        2023.05, SCHOOL WORK<br>
				雑誌表紙デザイン
      </p>

      <p class="explain">
				「デザイン分野」の架空専門誌の表紙をデザインしました。課題テーマは「触れるグラフィックデザイン」にそったデザインを
        考案することに対して異世界からグラフィックの世界に伸ばし、グラフィックアイテムに触れているビジュアルを考えました。また、中見出しの
        「よりきれいに、あざやかに！」から全体的に明るく鮮やかになるように心がけながら制作しました。
      </p>
    </div>
  </section>

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/magazine_1.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/magazine_2.jpg" alt="ページデザイン"></div>
  </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>