---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: maindish
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
    <div id="top">
        <img src="/assets/images/index/maindish_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>お皿屋が手掛けるレストラン「Main Dish」</h1>
      <p class="text">
        2023.05 , SCHOOL WORK<br>
        サイトトップページデザイン,コーディング
      </p>

      <p class="explain">
          お皿屋/レストランのwebサイトのデザインをしました。この架空レストランはお皿を製作しているお皿屋がそのお店で作ったお皿を使用し、お皿に合わせた料理を提供するレストランです。料理というものを五感で
          楽しみ、至福のひとときを過ごすことができるレストランをコンセプトにデザインをしました。
          <br>
          ※現在、コーディング制作中
      </p>
        </div>
  </section>

  <section id="works_img">
    <div id="img_1" class="fadein"><img src="/assets/images/index/maindish_1.jpg" alt="ページデザイン"></div>
    <div id="img_2" class="fadein"><img src="/assets/images/index/maindish.jpg" alt="ページデザイン"></div>
  </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>