---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: other
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: yuna takeda | OTHER
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <!-------------------------------->
 <section class="back"></section>
<!-------------------------------->
	<section class="works_box">
		<div class="genre">
			<ul>
				<li class="all">
					<a class="btn_all" href="workhome.html">ALL</a>
				</li>
				<li class="web">
					<a class="btn_web" href="web.html">WEB</a>
				</li>
				<li class="branding">
					<a class="btn_branding" href="branding.html">BRANDING</a>
				</li>
				<li class="graphic">
					<a class="btn_graphic" href="graphic.html">GRAPHIC</a>
				</li>
				<li class="other">
					<a class="btn_other" href="other.html">OTHER</a>
				</li>
			</ul>
		</div>

		<ul class="works_item">
			<li>
				<a href="billiken.html" class="work_item2"><img class="fadein" src="/assets/images/index/billiken_2.jpg" alt="トップページ"></a>
				<p>OTHER<br><span>BILLIKEN CREATORS OSAKA2</span></p>
			</li>
		</ul>
	</section> 
<!------------------------->
<section class="genre2">
	<ul>
		<li class="all">
			<a class="btn_all" href="workhome.html">ALL</a>
		</li>
		<li class="web">
			<a class="btn_web" href="web.html">WEB</a>
		</li>
		<li class="branding">
			<a class="btn_branding" href="branding.html">BRANDING</a>
		</li>
		<li class="graphic">
			<a class="btn_graphic" href="graphic.html">GRAPHIC</a>
		</li>
		<li class="other">
			<a class="btn_other" href="other.html">OTHER</a>
		</li>
	</ul>
</section>
</main>