---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: picnic
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
        <div id="top">
            <img src="/assets/images/index/picnic_top.jpg" alt="トップ">
        </div>
        <div id="text_area">
           <h1>中崎町デザインピクニック</h1>
            <p class="text">
                2023.07, SCHOOL WORK(group)<br>
				 デザインピクニック企画・デザイン
            </p>

             <p class="explain">
				<b>課題内容</b><br>
                大阪府内にあるグラフィックに限らないデザイン、クリエイティブなもの、アート、大阪らしいものなど大阪とデザインが
                楽しめるデザインツアープランをグループで考え制作する。
                <br>
                <br>
                <b>コンセプト</b><br>
                これから“新しいもの”を作っていく1年生に対して大阪のレトロ(大阪らしいレトロ)を代表する街「中崎町」を探索してもらい、
                新しいものだけでなく古いものやそのものの良さを活かして新しいをどのように加えていくかを街全体から学んでもらう。また、関心を持ったペーパーアイテムを集め、今後の制作物の参考にしてもらいたい。
                <br>
                <br>
                <b>担当デザイン</b><br>
                ・パッケージ制作、デザイン<br>
                ・冊子 温泉ページ<br>
                ・冊子 裏表紙<br>
                ・リーフレット タイムスケジュール<br>
             </p>
        </div>
    </section>

    <section id="works_img">
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_1.jpg" alt="パッケージデザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_2.jpg" alt="パッケージデザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_3.jpg" alt="パッケージデザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_4.jpg" alt="冊子デザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_5.jpg" alt="冊子デザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/picnic_6.jpg" alt="リーフレットデザイン"></div>
    </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>