---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: potato
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section>
    <div id="top">
      <img src="/assets/images/index/potato_top.jpg" alt="トップ">
    </div>
    <div id="text_area">
      <h1>さつまいも専門店「蜜芋屋」</h1>
      <p class="text">
          2022.05, PERSONAL WORK<br>
          webデザイン
      </p>

      <p class="explain">
          架空のさつまいも専門店のWebサイトデザインをしました。トップページに加えて、ABOUTベージとPRODUCTページも作成しました。
          和な印象を与えたかったので縦書きの文字や装飾などを使用し表現しています。パソコンサイズに加えてタブレットサイズ、スマートフォンサイズにも対応しています。
      </p>
        </div>
    </section>

    <section id="works_img">
        <div id="img_1" class="fadein"><img src="/assets/images/index/potato_1.jpg" alt="ページデザイン"></div>
        <div class="yoko">
            <div id="img_2" class="fadein"><img src="/assets/images/index/potato_2.jpg" alt="ページデザイン"></div>
            <div id="img_2" class="fadein"><img src="/assets/images/index/potato_3.jpg" alt="ページデザイン"></div>
        </div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/potato_4.jpg" alt="ページデザイン"></div>
        <div id="img_1" class="fadein"><img src="/assets/images/index/potato_5.jpg" alt="ページデザイン"></div>
        <div class="yoko">
            <div id="img_2" class="fadein"><img src="/assets/images/index/potato_6.jpg" alt="ページデザイン"></div>
            <div id="img_2" class="fadein"><img src="/assets/images/index/potato_7.jpg" alt="ページデザイン"></div>
        </div>
    </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>