---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: wedding
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: yuna takeda | Wedding Design
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
     <section>
        <div id="top">
            <img src="/assets/images/index/wedding_top.jpg" alt="トップ">
        </div>
        <div id="text_area">
           <h1>Wedding Design</h1>
            <p class="text">
                2022.08 , PERSONAL WORK<br>
                招待状,プロフィールブック
            </p>

             <p class="explain">
				架空の招待状を制作しました。<br>
				ウエディングでは多く用いられるスクリプト体をあえてあまり利用しないようにし、セリフ体を使用しながらも綺麗に美しく見えるようにフォントサイズや文字間などの調整に気をつけながら制作しました。
             </p>
        </div>
    </section>

    <section id="works_img">
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_1.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_2.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_3.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_4.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_5.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_6.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_7.jpg" alt="ページデザイン"></div>
		<div id="img_1" class="fadein"><img src="/assets/images/index/wedding_8.jpg" alt="ページデザイン"></div>
    </section>
<!------------------------>
<a href="workhome.html" class="back">BACK TO WORKS</a>
<!------------------------->
</main>