---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: workhome
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: yuna takeda | WORKS
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
 <section class="back"></section>
<!-------------------------------->
	<section class="works_box">
		<div class="genre">
			<ul>
				<li class="all">
					<a class="btn_all" href="workhome.html">ALL</a>
				</li>
				<li class="web">
					<a class="btn_web" href="web.html">WEB</a>
				</li>
				<li class="branding">
					<a class="btn_branding" href="branding.html">BRANDING</a>
				</li>
				<li class="graphic">
					<a class="btn_graphic" href="graphic.html">GRAPHIC</a>
				</li>
				<li class="other">
					<a class="btn_other" href="other.html">OTHER</a>
				</li>
			</ul>
		</div>

		<ul class="works_item">
			<li>
				<a href="maindish.html" class="work_item"><img class="fadein" src="/assets/images/index/maindish_top.jpg" alt="トップページ"></a>
				<p>WEB<br><span>お皿屋が手掛けるレストラン「Main Dish」</span></p>
			</li>
			<li>
				<a href="juice.html" class="work_item"><img class="fadein" src="/assets/images/index/juice_top.jpg" alt="トップページ"></a>
				<p>WEB<br><span>ジュースショップ「First Juice」</span></p>
			</li>
			<li>
				<a href="picnic.html" class="work_item"><img class="fadein" src="/assets/images/index/picnic_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>中崎町デザインピクニック</span></p>
			</li>
			<li>
				<a href="build.html" class="work_item"><img class="fadein" src="/assets/images/index/build_00.jpg" alt="トップページ"></a>
				<p>WEB<br><span>建設会社「Kirei Kukan」</span></p>
			</li>
			<li>
				<a href="biled.html" class="work_item"><img class="fadein" src="/assets/images/index/biled_top.jpg" alt="biled"></a>
				<p>BRANDING<br><span>ヘアケア専門店「Bi led」</span></p>
			</li>
			<li>
				<a href="charvan.html" class="work_item"><img class="fadein"src="/assets/images/index/charvan_00.jpg" alt="charvan"></a>
				<p>BRANDING<br><span>マインドケアブランド「C Harvan」</span></p>
			</li>
			<li>
				<a href="potato.html" class="work_item"><img class="fadein" src="/assets/images/index/potato_00.jpg" alt="トップページ"></a>
				<p>WEB<br><span>さつまいも専門店「蜜芋屋」</span></p>
			</li>
			<li>
				<a href="hotel.html" class="work_item"><img class="fadein" src="/assets/images/index/hotel_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>ホテルメトロポリタン フライヤー</span></p>
			</li>
			<li>
				<a href="magazine.html" class="work_item"><img class="fadein" src="/assets/images/index/magazine_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>雑誌表紙デザイン</span></p>
			</li>
			<li>
				<a href="wedding.html" class="work_item2"><img class="fadein" src="/assets/images/index/wedding_1.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>Wedding design</span></p>
			</li>
			<li>
				<a href="archtecture.html" class="work_item"><img class="fadein" src="/assets/images/index/archtecture_00.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>建築物 冊子</span></p>
			</li>
			<li>
				<a href="liveinall.html" class="work_item2"><img class="fadein"src="/assets/images/index/liveinall_top.jpg" alt="live in all"></a>
				<p>BRANDING<br><span>環境に良いお店作り「Live in All」</span></p>
			</li>
			<li>
				<a href="present.html" class="work_item2"><img class="fadein" src="/assets/images/index/present_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>雑誌デザイン</span></p>
			</li>
			<li>
				<a href="planet.html" class="work_item"><img class="fadein" src="/assets/images/index/planet_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>会社パンフレットデザイン</span></p>
			</li>
			<li>
				<a href="ouvrirfermer.html" class="work_item2"><img class="fadein" src="/assets/images/index/ouvrirfermer_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>セレクトショップ「OUVRIR FERMER」</span></p>
			</li>
			<li>
				<a href="web_ouvrir.html" class="work_item"><img class="fadein" src="/assets/images/index/web_ouvrir_top.jpg" alt="トップページ"></a>
				<p>WEB<br><span>OUVRIR FERMER webデザイン</span></p>
			</li>
			<li>
				<a href="billiken.html" class="work_item2"><img class="fadein" src="/assets/images/index/billiken_2.jpg" alt="トップページ"></a>
				<p>OTHER<br><span>BILLIKEN CREATORS OSAKA2</span></p>
			</li>
			<li>
				<a href="greetingcard.html" class="work_item"><img class="fadein" src="/assets/images/index/card_top.jpg" alt="トップページ"></a>
				<p>GRAPHIC<br><span>Greeting card</span></p>
			</li>
		</ul>
	</section> 

<!------------------------->
  <section class="genre2">
    <ul>
      <li class="all">
        <a class="btn_all" href="workhome.html">ALL</a>
      </li>
      <li class="web">
        <a class="btn_web" href="web.html">WEB</a>
      </li>
      <li class="branding">
        <a class="btn_branding" href="branding.html">BRANDING</a>
      </li>
      <li class="graphic">
        <a class="btn_graphic" href="graphic.html">GRAPHIC</a>
      </li>
      <li class="other">
        <a class="btn_other" href="other.html">OTHER</a>
      </li>
    </ul>
  </section>
</main>