<footer id="footer">
	<div class="fooder">
		<div class="fooder_top">
			<a href="home.html"><h7>YUNA TAKEDA</h7></a>
			
			<a class="insta" href="https://www.instagram.com/_y.design_/" target="_blank">
				<img src="/assets/images/index/insta.png" alt="">
			</a>
		</div>
	
		<div class="menu_box">
			<ul>
				<li><a href="home.html">HOME</a></li>
				<li><a href="workhome.html">WORKS</a></li>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="mailto:y.takeda.084@gmail.com?subject=お問い合わせ">CONTACT</a></li>
			</ul>
			
			<p class="fooder_down">YUNA TAKEDA<br>WEB DESIGN , GRAPHIC DESIGN <br>GROWING MY SHELL</p>
		</div>
	</div>
</footer>