<header id="header">
		<a href="home.html" class="header_top">YUNA TAKEDA</a>
		<div class="conts-body">
		  <button class="hamburger">
			<span class="hamburger_bar"></span>
			<span class="hamburger_bar"></span>
			<span class="hamburger_bar"></span>
		  </button>
		</div>

		<nav class="nav">
			<div class="flexbox">
				<a><img src="/assets/images/index/hamburger_img.JPG" alt="イメージ画像"></a>
				  
				<ul class="nav-list">
				  <li class="nav-item"><a href="home.html">HOME</a></li>
				  <li class="nav-item"><a href="workhome.html">WORKS</a></li>
				  <li class="nav-item"><a href="about.html">ABOUT</a></li>
				  <li class="nav-item"><a href="mailto:y.takeda.084@gmail.com?subject=お問い合わせ">CONTACT</a></li>
				</ul>
			</div>
		</nav>		
</header>