/* ------------------------------------------- SASS Information
 Name:      partials/_header.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
#section-header {
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}

  .header_top {
    font-size: 1.5rem;
    display: block;
    position: fixed;
    z-index: 1;
    margin: 1.5rem 3rem 0 3rem;
    text-decoration: none;
    text-decoration-color: #000;
    color: #000;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH){
    .header_top {
      font-size: 0.8rem;
      margin: 20px 10px 0 10px;
      font-weight: 500;
    }
  }
  
  /*/////////*/
  
  .conts-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  
  .hamburger {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 100;
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH){
    .hamburger {
      width: 25px;
      height: 20px;
      right: 15px;
      top: 20px;
    }
  }
  
  .hamburger_bar {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background: #000;
    transition: top 0.24s, transform 0.24s, opacity 0.24s;
  
    &:nth-child(1) {
      top: 0;
    }
  
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
  
    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }
  
    &.is_active {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }
  
      &:nth-child(2) {
        transform: translate(50%, -50%);
        opacity: 0;
      }
  
      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .hamburger_bar {
      height: 2px;
    }
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
  
    &.is_active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .nav {
      display: block;
      width: 100vw;
    }
  }
  
  .flexbox {
    display: flex;
  
    a {
      width: 50vw;
      height: 100vh;
  
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin-bottom: 0;
      }
    }
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .flexbox a {
      width: 0;
    }
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH){
    .flexbox a img {
      display: none;
    }
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto 8rem;
    padding-left: 0;
  
    li a:hover {
      color: #707070;
      transition: all 0.3s ease-out;
    }
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .nav-list {
      margin: auto 0;
      width: 90vw;
      padding-left: 40px;
    }
  }
  
  button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #000;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    font-size: 3rem;
  }
  
  @include RESPONSIVE('SP', $MIN_WIDTH){
    .nav-list li a {
      font-size: 2rem;
    }
  }
}