/* ------------------------------------------- SASS Information
 Name:      _biled.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-biled {

  margin: 0;
  width: 100%;

  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}


/* //js// */

.fadein {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 1s;
}

.js-fadein {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/*//////////////*/

.header_top {
  font-size: 1.5rem;
  display: block;
  position: fixed;
  z-index: 1;
  margin: 1.5rem 3rem 0 3rem;
  text-decoration: none;
  text-decoration-color: #000;
  color: #000;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .header_top {
    font-size: 0.8rem;
    margin: 20px 10px 0 10px;
  }
}

/*/////////////*/

.conts-body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.hamburger {
  width: 30px;
  height: 25px;
  position: fixed;
  top: 25px;
  right: 50px;
  z-index: 100;
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .hamburger {
    width: 25px;
    height: 20px;
    right: 15px;
    top: 20px;
  }
}

.hamburger_bar {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: #000;
  transition: top 0.24s, transform 0.24s, opacity 0.24s;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }

  &.is_active {
    &:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }

    &:nth-child(2) {
      transform: translate(50%, -50%);
      opacity: 0;
    }

    &:nth-child(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-135deg);
    }
  }
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .hamburger_bar {
    height: 2px;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;

  &.is_active {
    opacity: 1;
    pointer-events: auto;
  }
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .nav {
    display: block;
    width: 100vw;
  }
}

.flexbox {
  display: flex;

  a {
    width: 50vw;
    height: 100vh;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      margin-bottom: 0;
    }
  }
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .flexbox a {
    width: 0;
  }
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .flexbox a img {
    display: none;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: auto 8rem;
  padding-left: 0;

  li a:hover {
    color: #707070;
    transition: all 0.3s ease-out;
  }
}

  @include RESPONSIVE('SP', $MIN_WIDTH){
  .nav-list {
    margin: auto 0;
    width: 100vw;
    padding-left: 40px;
  }
}

button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .nav-list li a {
    font-size: 2rem;
  }
}

/*///////////////////*/

#top {
  margin: 0 auto 0;
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: relative;
  padding: 70px 50px 0 50px;

  img {
    width: 100%;
    z-index: 0;
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  #top {
    padding: 45px 10px 0 10px;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*///////*/

#text_area {
  width: 85vw;
  margin: 70px auto 0;
  border-bottom: 1px solid #000;
  padding-left: 40px;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  #text_area {
    margin: 15px auto 0;
    padding-left: 0;
  }
}

h1 {
  color: #000;
  font-size: 1.7rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  h1 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

.text {
  color: #000;
  font-size: 0.8rem;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 25px;
  margin-top: 20px;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .text {
    font-size: 0.5rem;
    margin-top: 5px;
    line-height: 13px;
    letter-spacing: 0.1rem;
  }
}

.explain {
  color: #000;
  font-size: 0.8rem;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 25px;
  margin: 60px 500px 50px 0;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .explain {
    margin: 30px 20px 50px 0;
    font-size: 0.5rem;
    letter-spacing: 0;
    line-height: 18px;
  }
}

/*////////////////*/

#img_1 {
  width: 88vw;
  margin: 0 auto;
  padding-top: 50px;

  img {
    width: 100%;
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  #img_1 {
    padding-top: 15px;
  }
}

/*/////////*/

.back {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  margin: 5rem auto;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
  display: block;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-align: center;

  &:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    background-color: #000;
    transition: all .3s;
    transform: scaleX(0);
  }

  &:hover:after {
    width: 100%;
    transform: scaleX(1);
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .back {
    margin: 50px auto 0;
    font-size: 0.5rem;
    width: 100px;
    letter-spacing: 0.05rem;
  }
}

/*///////////////////////////////*/

.fooder {
  width: 100%;
  margin-bottom: 0;
  background: #000;
  height: 25rem;
  margin-top: 10rem;
  position: relative;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .fooder {
    height: 200px;
    margin-top: 50px;
  }
}

.fooder_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 5rem;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  a {
    text-decoration: none;
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .fooder_top {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
  }
}

h6 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  h6 {
    font-size: 1rem;
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .insta_btn svg {
    width: 20px;
    left: 20px;
  }
}

.insta_btn:hover {
  color: #707070;
}

.menu_box {
  width: 80%;
  height: 3rem;
  margin: 30px auto 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0;

    li a {
      color: #fff;
      font-size: 1rem;
      font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
      letter-spacing: 0.3rem;
      text-decoration: none;
      margin-right: 3rem;

      &:hover {
        color: #707070;
        transition: all 0.5s ease-out;
      }
    }
  }
}

@media screen and (max-width: 7688px) {
  .menu_box {
    margin-top: 1rem;
  }
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .menu_box ul li a {
    font-size: 0.7rem;
    margin-right: 1rem;
    letter-spacing: 0.1rem;
  }
}

.fooder_down {
  color: #707070;
  font-size: 0.5rem;
  margin: 3% auto 0;
  width: 100%;
  font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

 @include RESPONSIVE('SP', $MIN_WIDTH) {
  .fooder_down {
    font-size: 0.3rem;
    line-height: 0.8rem;
  }
}

}