/* ------------------------------------------- SASS Information
 Name:      _branding.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-branding {
  margin: 0;
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}

  ul {
    padding: 0;
  }

  .fadein {
    transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s;
  }

  .js-fadein {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  /*/////////////////////////*/
  .back {
    background-image: url(/assets/images/index/branding.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    margin: 0;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .back {
      background-image: url(/assets/images/index/branding_sp.jpg);
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  /*//////////////work////////////*/
  .works_box {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .works_box {
      width: 100vw;
    }
  }

  .genre {
    margin-bottom: 30%;

    ul {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin: auto;
      padding-top: 70vh;
      padding-left: 0;

      li {
        a {
          width: 100px;
          height: 100px;
          line-height: 80px;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          background-color: #000;
          color: #fff;
          text-decoration: none;
          font-size: 0.8rem;
          letter-spacing: 0.15rem;
          font-family: 'Times New Roman', Times, serif;
          padding: 10px 10px;
          transition: all 0.8s;
        }

        :hover {
          opacity: 0.6;
        }
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre {
      width: 100vw;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre ul {
      padding-top: 75vh;
      width: 85vw;
    }
  }

  @media screen and (max-width: 350px) {
    .genre ul {
      padding-top: 75vh;
      width: 95vw;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre ul li a {
      width: 65px;
      height: 65px;
      font-size: 9px;
      line-height: 50px;
      text-align: center;
      padding: 7px 5px;
      letter-spacing: 0;
    }
  }

  /* ///////////////// */
  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .works_item {
      width: 88vw;
      margin: 0 auto;
    }
  }

  .works_box ul li {
    a img {
      width: 1000px;
      transition: .5s ease-in-out;
      transform: scale(1);
    }

    img:hover {
      transform: scale(0.98);
    }

    p {
      font-size: 0.8rem;
      font-family: 'Times New Roman', Times, serif;
      color: #e2e2e2;
      letter-spacing: 0.15rem;
      margin-top: 10px;
      line-height: 1.8em;
      margin-bottom: 50px;
      padding-left: 10px;

      span {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .works_box ul li a img {
      width: 100%;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .works_box ul li p {
      margin-bottom: 40px;
      font-size: 0.5rem;
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .works_box ul li p span {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
  }

  /*///////////////////////////////*/
  .genre2 {
    margin: 150px 0 150px;
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin: auto;

      li {
        a {
          width: 100px;
          height: 100px;
          line-height: 80px;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          background-color: #000;
          color: #fff;
          text-decoration: none;
          font-size: 0.8rem;
          letter-spacing: 0.15rem;
          font-family: 'Times New Roman', Times, serif;
          padding: 10px 10px;
          transition: all 0.8s;
        }

        :hover {
          background-color: #484848;
        }
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre2 {
      margin: 40px 0 0;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre2 ul {
      padding-top: 75vh;
      width: 85vw;
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: 350px) {
    .genre2 ul {
      padding-top: 75vh;
      width: 95vw;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .genre2 ul li a {
      width: 65px;
      height: 65px;
      font-size: 9px;
      line-height: 50px;
      text-align: center;
      padding: 7px 5px;
      letter-spacing: 0;
    }
  }

}