/* ------------------------------------------- SASS Information
 Name:      _ouvrirfermer.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-ouvrirfermer {
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}

  margin: 0;
  width: 100%;
  background-color: #ececeb;
  /* //js// */
  .fadein {
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: transform 1s, opacity 1s, visibility 1s;
  }

  .js-fadein {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  /*///////////////////*/

  #top {
    margin: 0 auto 0;
    animation-name: fadeInAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
    padding: 70px 50px 0 50px;

    img {
      width: 100%;
      z-index: 0;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    #top {
      padding: 45px 10px 0 10px;
    }
  }

  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /*///////*/

  #text_area {
    width: 85vw;
    margin: 70px auto 0;
    border-bottom: 1px solid #000;
    padding-left: 40px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    #text_area {
      margin: 15px auto 0;
      padding-left: 0;
    }
  }

  h1 {
    color: #000;
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    h1 {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }

  .text {
    color: #000;
    font-size: 0.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 25px;
    margin-top: 20px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    .text {
      font-size: 0.5rem;
      margin-top: 5px;
      line-height: 13px;
      letter-spacing: 0.1rem;
    }
  }

  .explain {
    color: #000;
    font-size: 0.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 25px;
    margin: 60px 500px 50px 0;
    padding-right: 50px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    .explain {
      margin: 30px 20px 50px 0;
      font-size: 0.5rem;
      letter-spacing: 0;
      line-height: 18px;
    }
  }

  /*////////////////*/

  #img_1 {
    width: 88vw;
    margin: 0 auto;
    padding-top: 50px;

    img {
      width: 100%;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    #img_1 {
      padding-top: 15px;
    }
  }

  .yoko {
    display: flex;
    justify-content: space-between;
    width: 88vw;
    margin: 0 auto;
    padding-top: 50px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    .yoko {
      padding-top: 20px;
    }
  }

  #img_2 {
    width: 47%;

    img {
      width: 100%;
    }
  }

  /* ////////////// */

  .back {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    margin: 5rem auto;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    display: block;
    width: 200px;
    position: relative;
    text-decoration: none;
    text-align: center;

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: #000;
      transition: all .3s;
      transform: scaleX(0);
    }

    &:hover:after {
      width: 100%;
      transform: scaleX(1);
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH)  {
    .back {
      margin: 50px auto 0;
      font-size: 0.5rem;
      width: 100px;
      letter-spacing: 0.05rem;
    }
  }
}