/* ------------------------------------------- SASS Information
 Name:      _pattern.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-pattern {
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}

  margin: 0;
  width: 100%;

  /*///////////////////*/

  #top {
    margin: 0 auto 0;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    width: 85%;
    height: 85%;

    img {
      width: 100%;
      height: 100%;
      margin: 5.5rem auto 0;
    }
  }

  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /*///////*/

  #text_area {
    width: 85%;
    margin: 5rem auto;
    border-bottom: 1px solid #000;
  }

  .text_top {
    color: #000;
    font-size: 1.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.2rem;
    padding-left: 40px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .text_top {
      padding-left: 20px;
      font-size: 1.5rem;
    }
  }

  .text {
    color: #000;
    font-size: 0.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 5rem;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .text {
      font-size: 0.5rem;
      padding-left: 20px;
      line-height: 20px;
    }
  }

  .br_pc {
    display: inline;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .br_pc {
      display: none;
    }
  }

  /*////////////////*/

  #container {
    width: 85%;
    margin: 0 auto;

    img {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  /*/////////*/

  .back {
    text-decoration: none;

    p {
      color: #000;
      font-size: 1rem;
      margin: 5rem auto;
      font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
      letter-spacing: 0.1rem;
      display: block;
      width: 10rem;
      position: relative;
      text-decoration: none;
      text-align: center;

      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.5px;
        background-color: #000;
        transition: all .3s;
        transform: scaleX(0);
      }

      &:hover:after {
        width: 100%;
        transform: scaleX(1);
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .back p {
      margin: 2rem auto 0;
      font-size: 0.6rem;
      width: 7rem;
    }
  }
}