/* ------------------------------------------- SASS Information
 Name:      _pattern.scss
 Author:    #{$WEB_AUTHOR}
 Modifier:  #{$WEB_MODIFIER}
----------------------------------------------------------- */
.page-pattern {
  @include RESPONSIVE('PC', $MIN_WIDTH) {}
  @include RESPONSIVE('SP', $MIN_WIDTH) {}

  margin: 0;
  width: 100%;

  /*//////////////*/
  .header_top {
    font-size: 1.5rem;
    display: block;
    position: fixed;
    z-index: 1;
    margin: 1.5rem 3rem 0 3rem;
    text-decoration: none;
    text-decoration-color: #000;
    color: #000;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .header_top {
      font-size: 0.8rem;
      margin: 20px 10px 0 10px;
    }
  }

  /*/////////////*/

  .conts-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  .hamburger {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 100;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .hamburger {
      width: 25px;
      height: 20px;
      right: 15px;
      top: 20px;
    }
  }

  .hamburger_bar {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    background: #000;
    transition: top 0.24s, transform 0.24s, opacity 0.24s;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }

    &.is_active {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }

      &:nth-child(2) {
        transform: translate(50%, -50%);
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .hamburger_bar {
      height: 2px;
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.24s;
    pointer-events: none;

    &.is_active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .nav {
      display: block;
      width: 100vw;
    }
  }

  .flexbox {
    display: flex;

    a {
      width: 50vw;
      height: 100vh;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin-bottom: 0;
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .flexbox a {
      width: 0;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .flexbox a img {
      display: none;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto 8rem;
    padding-left: 0;

    li a:hover {
      color: #707070;
      transition: all 0.3s ease-out;
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .nav-list {
      margin: auto 0;
      width: 100vw;
      padding-left: 40px;
    }
  }

  button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  .nav-list li a {
    text-decoration: none;
    color: #000;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    font-size: 3rem;
  }

  /*///////////////////*/

  #top {
    margin: 0 auto 0;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    width: 85%;
    height: 85%;

    img {
      width: 100%;
      height: 100%;
      margin: 5.5rem auto 0;
    }
  }

  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /*///////*/

  #text_area {
    width: 85%;
    margin: 5rem auto;
    border-bottom: 1px solid #000;
  }

  .text_top {
    color: #000;
    font-size: 1.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.2rem;
    padding-left: 40px;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .text_top {
      padding-left: 20px;
      font-size: 1.5rem;
    }
  }

  .text {
    color: #000;
    font-size: 0.8rem;
    font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 5rem;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .text {
      font-size: 0.5rem;
      padding-left: 20px;
      line-height: 20px;
    }
  }

  .br_pc {
    display: inline;
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .br_pc {
      display: none;
    }
  }

  /*////////////////*/

  #container {
    width: 85%;
    margin: 0 auto;

    img {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  /*/////////*/

  .back {
    text-decoration: none;

    p {
      color: #000;
      font-size: 1rem;
      margin: 5rem auto;
      font-family: "GalanoClassic-Regular", nimbus-sans, sans-serif;
      letter-spacing: 0.1rem;
      display: block;
      width: 10rem;
      position: relative;
      text-decoration: none;
      text-align: center;

      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: '';
        width: 100%;
        height: 1.5px;
        background-color: #000;
        transition: all .3s;
        transform: scaleX(0);
      }

      &:hover:after {
        width: 100%;
        transform: scaleX(1);
      }
    }
  }

  @include RESPONSIVE('SP', $MIN_WIDTH) {
    .back p {
      margin: 2rem auto 0;
      font-size: 0.6rem;
      width: 7rem;
    }
  }
}